<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="EBS_138" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;"/>
    <!--<add name="EBS_LOCAL" connectionString="Data Source=172.16.100.54;Initial Catalog=SCM;UID=sa;PWD=123456;"/>-->
    <add name="WEIKE_138" connectionString="Data Source=123.103.35.138;Initial Catalog=Home_WeiKe_test01;UID=Home_WeiKe_test_admin;PWD=d1H9493f;"/>
    <!--<add name="FOREMAN_LOCAL" connectionString="Data Source=123.103.35.138;Initial Catalog=Home_WeiKe_test01;UID=Home_WeiKe_test_admin;PWD=d1H9493f;"/>-->
    <add name="PRIVATE_LOCAL" connectionString="Data Source=223.4.145.97;Initial Catalog=Private;UID=USER_GREATWALL;PWD=L8388129;"/>
  </connectionStrings>
  <appSettings>
    <!--数据库操作类路径-->
    <add key="EBS_138_DIR_DBO" value="D:\SOUFUN_SVN_CODE\EBS\trunk\EBS\EBS.Interface.Data" />
    <!--数据库模型类路径-->
    <add key="EBS_138_DIR_MOD" value="D:\SOUFUN_SVN_CODE\EBS\trunk\EBS\EBS.Interface.Model" />
    <!--数据库操作类命名空间-->
    <add key="EBS_138_NAS_DBO" value="EBS.Interface.Data" />
    <!--数据库模型类命名空间-->
    <add key="EBS_138_NAS_DAT" value="EBS.Interface.Model" />
    <!--数据库访问类命名空间-->
    <add key="EBS_138_NAS_DBU" value="EBS.Interface.DBUtility" />
    <!--数据库链接字符串前缀-->
    <add key="EBS_138_MARK_CON" value="EBS" />

    <add key="WEIKE_138_DIR_DBO" value="D:\SOUFUN_SVN_CODE\EBS\trunk\EBS\Designer.Interface.Data" />
    <add key="WEIKE_138_DIR_MOD" value="D:\SOUFUN_SVN_CODE\EBS\trunk\EBS\Designer.Interface.Model" />
    <add key="WEIKE_138_NAS_DBO" value="Designer.Interface.Data" />
    <add key="WEIKE_138_NAS_DAT" value="Designer.Interface.Model" />
    <add key="WEIKE_138_NAS_DBU" value="Designer.Interface.DBUtility" />
    <add key="WEIKE_138_MARK_CON" value="DESIGNER" />
  </appSettings>
</configuration>