<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CNMSGS_READ" connectionString="Data Source=.;Initial Catalog=CNMSGS;UID=sa;PWD=123456;"/>
    <add name="CNMSGS_WRITE" connectionString="Data Source=.;Initial Catalog=CNMSGS;UID=sa;PWD=123456;"/>
  </connectionStrings>
</configuration>